<div class="topbar">    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 topnav">
                <a href="branches.html">+27 21 976 1300 </a> | <a href="mailto"> letschat@socialplaces.co.za</a> 
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social pull-right"> 
                    <a target="_new" href="https://www.facebook.com/socialplacesSA/?hc_ref=SEARCH" title="Facebook"><i class="fa fa-facebook-square"></i></a> 
                    <a target="_new" href="https://www.linkedin.com/company-beta/9453961/" title="Linkedin"><i class="fa fa-linkedin-square"></i></a> 
                    <a target="_new" href="https://www.youtube.com/channel/UCITXH_VoEg_iUipLdBOpJKw" title="Youtube"><i class="fa fa-youtube-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
